doctype html
html(lang="en")
  head
   meta(charset="UTF-8")
   meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
   title#metaTitle=title
   meta#metaDescription(name='description' content=description)
   meta#metaKeywords(name='keywords' content=keywords)
   link(rel='stylesheet' type='text/css' href='app.css')
   link(rel='apple-touch-icon', sizes='57x57', href='/imagenes/img-logos/eapanama-logosq-57x57.png')
   link(rel='apple-touch-icon', sizes='60x60', href='/imagenes/img-logos/eapanama-logosq-60x60.png')
   link(rel='apple-touch-icon', sizes='72x72', href='/imagenes/img-logos/eapanama-logosq-72x72.png')
   link(rel='apple-touch-icon', sizes='76x76', href='/imagenes/img-logos/eapanama-logosq-76x76.png')
   link(rel='apple-touch-icon', sizes='114x114', href='/imagenes/img-logos/eapanama-logosq-114x114.png')
   link(rel='apple-touch-icon', sizes='120x120', href='/imagenes/img-logos/eapanama-logosq-120x120.png')
   link(rel='apple-touch-icon', sizes='144x144', href='/imagenes/img-logos/eapanama-logosq-144x144.png')
   link(rel='apple-touch-icon', sizes='152x152', href='/imagenes/img-logos/eapanama-logosq-152x152.png')
   link(rel='apple-touch-icon', sizes='180x180', href='/imagenes/img-logos/eapanama-logosq-180x180.png')
   link(rel='icon', type='image/png', sizes='192x192', href='/imagenes/img-logos/eapanama-logosq-192x192.png')
   link(rel='icon', type='image/png', sizes='32x32', href='imagenes/img-logos/eapanama-logosq-32x32.png')
   link(rel='icon', type='image/png', sizes='96x96', href='imagenes/img-logos/eapanama-logosq-96x96.png')
   link(rel='icon', type='image/png', sizes='16x16', href='imagenes/img-logos/eapanama-logosq-16x16.png')
   link(rel='manifest', href='/manifest.json')
   meta(name='msapplication-TileColor', content='#ffffff')
   meta(name='msapplication-TileImage', content='/imagenes/img-logos/eapanama-logosq-144x144.png')
   meta(name='theme-color', content='#ffffff')

   meta(name='twitter:title', content=title)
   meta(property='og:description', content="Este es un artículo")
   meta(name='twitter:description', content=description)
   meta(property='og:image', content='http://sumergidapro.com/imagenes/img-logos/eapanama-logosq-text-1000x1000.png')
   meta(name='twitter:image:src', content='https://sumergidapro.com/00testpage/images-web/servicios-ruido-industrial.png')
   // los valores por defecto
   meta(property='fb:app_id', content='1719095821714054')
   meta(property='fb:admins', content='your_fb_admin_id')
   meta(property='og:site_name', content='sumergidapro.com')
   meta(property='og:type', content='website')
   // Para Twitter Card
   meta(name='twitter:card', content='product')
   meta(name='twitter:site', content='@EAPanama')
   meta(name='twitter:creator', content='@EAPanama')
   // Para Google+
   link(href='https://plus.google.com/104359926235166174096/posts', rel='author')
   link(href='https://plus.google.com/104359926235166174096', rel='publisher')
  body#body
   #header
   #main-container
   #backTopContainer
   #footer
   #fb-root
   script.
     (function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
     fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

    script(type='application/javascript' src='app.js')

