doctype html
html(lang="en")
  head
   meta(charset="UTF-8")
   meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
   title#metaTitle=title
   meta#metaDescription(name='description' content=description)
   meta#metaKeywords(name='keywords' content=keywords)
   link(rel='stylesheet' type='text/css' href='app.css')
   link(rel='apple-touch-icon', sizes='57x57', href='/imagenes/apple-icon-57x57.png')
   link(rel='apple-touch-icon', sizes='60x60', href='/imagenes/apple-icon-60x60.png')
   link(rel='apple-touch-icon', sizes='72x72', href='/imagenes/apple-icon-72x72.png')
   link(rel='apple-touch-icon', sizes='76x76', href='/imagenes/apple-icon-76x76.png')
   link(rel='apple-touch-icon', sizes='114x114', href='/imagenes/apple-icon-114x114.png')
   link(rel='apple-touch-icon', sizes='120x120', href='/imagenes/apple-icon-120x120.png')
   link(rel='apple-touch-icon', sizes='144x144', href='/imagenes/apple-icon-144x144.png')
   link(rel='apple-touch-icon', sizes='152x152', href='/imagenes/apple-icon-152x152.png')
   link(rel='apple-touch-icon', sizes='180x180', href='/imagenes/apple-icon-180x180.png')
   link(rel='icon', type='image/png', sizes='192x192', href='/imagenes/android-icon-192x192.png')
   link(rel='icon', type='image/png', sizes='32x32', href='imagenes/favicon-32x32.png')
   link(rel='icon', type='image/png', sizes='96x96', href='imagenes/favicon-96x96.png')
   link(rel='icon', type='image/png', sizes='16x16', href='imagenes/favicon-16x16.png')
   link(rel='manifest', href='/manifest.json')
   meta(name='msapplication-TileColor', content='#ffffff')
   meta(name='msapplication-TileImage', content='/imagenes/ms-icon-144x144.png')
   meta(name='theme-color', content='#ffffff')

   meta(name='twitter:title', content=title)
   meta(property='og:title', content=title)
   meta(property='og:description', content=description)
   meta(name='twitter:description', content=description)
   meta(property='og:image', content='http://sumergidapro.com/' + image)
   meta(name='twitter:image:src', content='http://sumergidapro.com/' + image)
   meta(property='og:url', content='http://sumergidapro.com' + url.replace(/ /g, '-'))
   // los valores por defecto
   meta(property='fb:app_id', content='1719095821714054')
   meta(property='fb:admins', content='your_fb_admin_id')
   meta(property='og:site_name', content='sumergidapro.com')
   meta(property='og:type', content='website')
   // Para Twitter Card
   meta(name='twitter:card', content='product')
   meta(name='twitter:site', content='@EAPanama')
   meta(name='twitter:creator', content='@EAPanama')
   // Para Google+
   link(href='https://plus.google.com/104359926235166174096/posts', rel='author')
   link(href='https://plus.google.com/104359926235166174096', rel='publisher')
  body#body
   #header
   #main-container
   #backTopContainer
   #footer
   #fb-root
   script.
     (function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
     fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
   script.
     window.___gcfg = {
     lang: 'zh-CN',
     parsetags: 'onload'
     };
   script(src='https://apis.google.com/js/platform.js', async='', defer='')

   script(type='application/javascript' src='app.js')
   
